<h1 class="title">Sign in to Fizzy</h1>
<p class="subtitle">Hit the button below to sign in to Fizzy on this device</p>

<%= link_to "Sign in to Fizzy", session_magic_link_url(code: @magic_link.code), class: "btn" %>

<p class="margin-block-start-double">If you're signing in on another device, enter this special code:
  <br><strong class="txt-large"><%= magic_link_code(@magic_link) %></strong>
</p>

<p class="footer">Need help? <%= mail_to "support@37signals.com", "Email us"%>.
</p>

