<% if card.messages.comments.any? %>
  <div class="card__detail card__comments">
    <span aria-hidden="true"><%= card.messages.comments.count %></span>
    <span class="for-screen-reader"><%= pluralize(card.messages.comments.count, "comment") %></span>
  </div>
<% end %>
