<div class="flex flex-column gap-half align-center" data-controller="dialog filter-form"
    data-action="keydown.esc->dialog#close:stop click@document->dialog#closeOnClickOutside turbo:before-cache@document->dialog#close">

  <%= render "filters/settings", filter: filter %>
  <%= render "filters/dialog", filter: filter %>
</div>
