<li class="min-width overflow-ellipsis">
  <%= link_to event_action_sentence(event), collection_card_path(event.card.collection, event.card), 
      class: "terminal__link", 
      data: { turbo_frame: "_top" } %>
</li>